In [1]:
#from arenz_group_python import Project_Paths as pp
from pathlib import Path
from arenz_group_python import save_dict_to_file,load_dict_from_file,save_dict_to_tableFile,open_dict_from_tablefile

"data_raw" could not be found as a branch of the folder tree form the notebook.
Please use standard project structure.
Project_Paths().create_project_structure()
from the root of the project.

"data_treated" could not be found as a branch of the folder tree form the notebook.
Please use standard project structure.
Project_Paths().create_project_structure()
from the root of the project.

In [2]:
pa= Path().cwd().parent / "TEMP_Project"
print(pa, pa.exists())

try:
    pa.mkdir()
except:
    pass

c:\Users\gustav.wiberg\Documents\GitHub\BERN\Arenz_Group_Python\TEMP_Project True

In [3]:
file_path= pa / "My_Dict_File.txt"
keyValues= {
    "firstKey" : 5.23,
    "secondKey": "A string" 
}
keyValues["thridKey"] = 32.543

save_dict_to_file(file_path,keyValues)

In [4]:
print(keyValues)
keyValues_B = load_dict_from_file(file_path)
print(keyValues_B)

{'firstKey': 5.23, 'secondKey': 'A string', 'thridKey': 32.543}
{'firstKey': 5.23, 'secondKey': 'A string', 'thridKey': 32.543}

In [9]:
TB_file_path= pa / "TableFile.txt"
sample_name = "Sample1"
save_dict_to_tableFile(TB_file_path,sample_name, keyValues)

Sample1 was already in the list: updating

In [10]:
#Sample 2
S2_keyValues= {
    "firstKey" : 34.23,
    "secondKey": "sample 2 string" ,
    "thridKey" : 2321
}
sample2_name = "Sample2"
save_dict_to_tableFile(TB_file_path,sample2_name, S2_keyValues)

Sample2 was already in the list: updating

In [11]:
open_dict_from_tablefile(TB_file_path)

object Sample1  no
object A string  no

      name  firstKey        secondKey  thridKey
0  Sample1      5.23         A string    32.543
1  Sample2     34.23  sample 2 string  2321.000